
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.8s ease;
    scroll-behavior: smooth;
}
:root{
   
    --primaryColor:#84d983a6;
}


body{
    height: 100vh;
    font-family: Code;
    background: url('./back.jpg');
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
header>div{
    font-size: 28px;
}
header>div>span{
    color: var(--primaryColor);
}
.nav>ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
a:hover{
    color: var(--primaryColor);
    text-decoration: 3px dotted var(--primaryColor) underline;
}

#banner{
    display: flex;
    justify-content: space-between;
   width: 100%;
}
.left{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.badge{
  padding: 10px;
  background-color: var(--primaryColor);
  color: white;
  border-radius: 20px;
  width: max-content;
}
section{
    padding: 50px 0px;
}
button>a:hover{
    color: white;
}
.left>h2{
    font-size: 68px;
    
}
.left>h2>span{
    color: var(--primaryColor);
}
.left>p{
    font-size: 24px;
}
#banner>.right>img{
    width: 550px;
    height: 500px;
    mix-blend-mode:multiply;
}
.buttons{
    display: flex;
    gap: 20px;
}
button{
    padding: 20px 30px;
    width: 200px;
}
.buttons>button:nth-child(1){
    background-color: var(--primaryColor);
    color: white;
}
.buttons>button:nth-child(2){
    background-color: transparent;
    color: black;
}
.buttons>button:nth-child(2):hover{
    background-color: var(--primaryColor);
    color: white;
}

.heading
  {
    padding: 30px 0px;
    text-align: center;
    font-size: 28px;
  }
  #about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .About-right>p{
    font-size: 24px;
  }
  p+ul{
    list-style: none;
    padding: 20px 0px;
  }
  .About-left>img{
    height: 300px;
    border-radius: 50%;
  }

#skills{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 30px;
}
#skills>img{
    height: 100px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.project{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 5px #333;
}
.project>img{
    width: 300px;
}
.project button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.project button a{
    color:white
}

footer{
    text-align: center;
    padding: 50px 0px;
}
/* contact starts here */
  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  input{
    width: 50vw;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
  }
  textarea{
   width: 50vw;
    height: 100px;
    resize: none;
    border-radius: 20px;
    font-size: 20px;
  }
  textarea::placeholder,input::placeholder{
    padding: 20px;
  }
  form>button{
    background-color: black;
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
  }

@media (max-width:870px){
    header{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    #banner{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0px 20px;
    }
    #banner>.left{
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .left>h2{
        font-size: 52px;
    }
     #about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 30px;
  }
  .About-right>p{
    font-size: 20px;
  }
  #skills{
   grid-template-columns: repeat(3,1fr);
}
#projects{
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:480px){
    header{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    header>nav>ul{
        flex-direction: column;
        gap: 10px;
    }
    #banner{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0px 20px;
    }
    #banner>.left{
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .left>h2{
        font-size: 38px;
    }
    #banner>.right>img{
      width: 350px;
      height: 400px;
    }
     #about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 30px;
  }
  .About-right>p{
    font-size: 20px;
  }
  #skills{
   grid-template-columns: repeat(1,1fr);
   place-items: center;
}
#projects{
    grid-template-columns: repeat(1,1fr);
    margin: 20px;
}
}
button::hover{
    border-radius: 50%;
}
